<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Division</servlet-name>
        <servlet-class>Division</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>partition</servlet-name>
        <servlet-class>partition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shahash</servlet-name>
        <servlet-class>shahash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passtore</servlet-name>
        <servlet-class>passtore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passcheck</servlet-name>
        <servlet-class>passcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passto</servlet-name>
        <servlet-class>passto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirec</servlet-name>
        <servlet-class>redirec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usercheck</servlet-name>
        <servlet-class>usercheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Division</servlet-name>
        <url-pattern>/Division</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>partition</servlet-name>
        <url-pattern>/partition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shahash</servlet-name>
        <url-pattern>/shahash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passtore</servlet-name>
        <url-pattern>/passtore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passcheck</servlet-name>
        <url-pattern>/passcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passto</servlet-name>
        <url-pattern>/passto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirec</servlet-name>
        <url-pattern>/redirec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usercheck</servlet-name>
        <url-pattern>/usercheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
